# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual env
# =====================
.venv/
venv/
env/

# =====================
# Airflow
# =====================
airflow.db
airflow-webserver.pid
airflow.cfg
airflow_home/
logs/

# якщо локальні DAG runtime файли
*.parquet
*.csv
*.json

# =====================
# IDE (PyCharm)
# =====================
.idea/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Secrets / env
# =====================
.env
*.env

# =====================
# Data (важливо для DE)
# =====================
data/
output/
tmp/

# =====================
# SQL / DB dumps
# =====================
*.sql
*.dump
*.db

# =====================
# logs
# =====================
*.log
logs/
